DEBUG=True
SECRET_KEY=change_me
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=5432

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

TIME_ZONE=

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_SUCCESS_URL=http://localhost:8000/users/payments/success/?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:8000/users/payments/cancel/

